
### Publications on the {{page.projectName}} Project

{% include filter_setup.html %}


{% assign citations = site.data.rapt_web_data.publications |  sort: "date" | reverse | group_by: "date" %}
{% for citation in citations %}

{% assign itemsForProject = citation.items | where: "project", thisProject %}
{% assign itemsForSecondaryProject = citation.items | where: "secondaryProject", thisProject %}
{% assign itemsCombined = itemsForProject | concat: itemsForSecondaryProject %}
{% assign itemsSorted = itemsCombined | sort: "citation" %}

{% if itemsSorted.size > 0 %}

<h3>{{ citation.name }}</h3>
  <ul class="pubs">
  {% for item in itemsSorted %}

  {% comment %} Slightly clunky, but basically, project pubs should only be visible if the page vis is project, and lab pubs if it is Lab, so lab or project only is hidden on "all" which is my website {% endcomment %} 


  {% if page.visibility == 'All' and item.visibility == 'Project' or  item.visibility == 'Lab'  %}    
    {% continue %}
  {% endif %}

  {% if page.visibility == 'Lab' and item.visibility == 'Project' %}    
      {% continue %}
  {% endif %}

  <li class="pub-item" data-type="{{ item.type }}">{{item.citation}}        
    {% for link in item.links %}
      {% if link.url %}<a href="{{link.url}}" target="_blank"><i class="fa-regular fa-file-lines"></i>{{link.linklabel}}</a>
      {% endif %}
    {% endfor %}
    </li>
  {% endfor %}
  </ul>
  {% endif %}
{% endfor %}
