
### Publications on the {{page.projectName}} Project


{% assign citations = site.data.publications |  sort: "date" | reverse | group_by: "date" %}
{% for citation in citations %}
{% assign itemsSorted = citation.items | where: "project",page.projectName %}

{% if itemsSorted.size > 0 %}
<h3>{{ citation.name }}</h3>
  <ul class="pubs">
  {% for item in itemsSorted %}

  {% comment %} Slightly clunky, but basically, project pubs should only be visible if the page vis is project, and lab pubs if it is Lab, so lab or project only is hidden on "all" which is my website {% endcomment %} 


  {% if page.visibility == 'All' and item.visibility == 'Project' or  item.visibility == 'Lab'  %}    
    {% continue %}
  {% endif %}

  {% if page.visibility == 'Lab' and item.visibility == 'Project' %}    
      {% continue %}
  {% endif %}

  <li>{{item.citation}}        
    {% for link in item.links %}
      {% if link.url %}[<a href="{{link.url}}" target="_blank">{{link.linklabel}}</a>]
      {% endif %}
    {% endfor %}
    </li>
  {% endfor %}
  </ul>
  {% endif %}
{% endfor %}
