{% assign projects = site.data.rapt_web_data.projects | where: "name", page.projectName %}
{% for project in projects %}

<div class="row">
  <h3><a href="/projects/">Projects</a>: {% if project.full_name %}  {{project.full_name}} {% else %} {{project.name}} {% endif %} </h3>
  {% if project.logo %}
    <div class="left">
      <img src="/assets/img/project_logos/{{project.logo}}" alt="Project logo for {{project.name}}" width="150" >
      {% if project.url %}<i class="fa-solid fa-arrow-up-right-from-square"></i><a href="{{ project.url }}" target="_blank">{{project.name}} Website</a>{% endif %}
      {% if project.twitter %}<i class="fa-brands fa-twitter"></i><a href="https://twitter.com/{{ project.twitter }}" target="_blank">@{{project.twitter}}</a>{% endif %}  
     </div>
  {% endif %}
  <div class="right">
    <p>{{project.blurb}}</p>
  </div>
</div>
<br>
{% endfor %}